
body {
    display: flex;
    flex-direction: row-reverse;
    background: oklch(0.1 0.1 40);
    color: oklch(0.9 0.1 80);
}

@media (max-aspect-ratio: 1/1) {
    body {
        flex-direction: column-reverse;
    }
}

body > *:first-child {
    flex-shrink: 10;
}

#Enemies {
    display: flex;
    flex-wrap: wrap;
    color: oklch(0.1 0.0 80);
}

#Board2 {
    --size: 7;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    color: oklch(0.1 0.0 80);

    aspect-ratio: 1/1;
    width: 100vmin;
}

#Left, #Right, #Top, #Bottom {
    display: contents;
}

#Left .button {
    grid-column: 1;
}

#Right > .button {
    grid-column: 9;
}

#Top .button {
    grid-row: 1;
}

#Bottom > .button {
    grid-row: 9;
}

#Board {
    position: relative;
    aspect-ratio: 1/1;
    grid-row: 2 / 9;
    grid-column: 2 / 9;
}

.button {
    text-align: center;
    font-size: 4vmin;
    user-select: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    background: oklch(0.5 0 0);
    margin-bottom: 25%;
    margin-right: 25%;
}

.stone {
    position: absolute;
    transition: opacity 0.5s, top 0.5s, left 0.5s;
    width: 10%;
    height: 10%;
    margin: 0.5%;
    text-align: center;
    font-size: 4vmin;
    user-select: none;
    cursor: pointer;
}


.enemy {
    margin: 1ch;
    padding: 1ch;
}

.skeleton {
    --h: 40;
    background: linear-gradient(90deg, oklch(0.8 0.05 var(--h)) var(--hp), white var(--hp));
}

.leech {
    --h: 0;
    background: linear-gradient(90deg, oklch(0.6 0.2 var(--h)) var(--hp), white var(--hp));

}

.werhog {
    --h: 80;
    background: linear-gradient(90deg, oklch(0.7 0.4 var(--h)) var(--hp), white var(--hp));

}

.tentacle-vine {
    --h: 150;
    background: linear-gradient(90deg, oklch(0.7 0.2 var(--h)) var(--hp), white var(--hp));
}

.fire-ball {
    --h: 40;
}

.ice-storm {
    --h: 200;
}

.battle-axe {
    --h: 100;
}

.arrows {
    --h: 170;
}

.level-1 {
    background: oklch(0.4 0.2 var(--h));
}

.level-2 {
    background: oklch(0.5 0.2 var(--h));
}

.level-3 {
    background: oklch(0.6 0.2 var(--h));
}

.level-4 {
    background: oklch(0.7 0.2 var(--h));
}
